@page "/"

<h1>Arcade Infantil</h1>
<p>Escolhe um jogo no menu lateral.</p>

<section class="menu-grid" aria-label="Lista de jogos">
    <a class="menu-card" href="memoria-cars">
        <img class="menu-card-image" src="images/cars/carshome.png" alt="Cars" />
        <h2>Jogo da Memoria - Faísca McQueen</h2>
        <p>Encontra os pares das personagens do Faisca McQueen.</p>
    </a>

    <a class="menu-card" href="memoria-gabby">
        <img class="menu-card-image" src="images/gabby/gabbyhome.png" alt="Gabby Casa das Bonecas" />
        <h2>Jogo da Memoria - Gabby</h2>
        <p>Encontra os pares das personagens da Gabby Casa das Bonecas.</p>
    </a>

    <a class="menu-card" href="jogo-do-galo">
        <img class="menu-card-image" src="images/jogodogalo/jogodogalo.png" alt="Jogo do Galo" />
        <h2>Jogo do Galo</h2>
        <p>Dois jogadores: X e O. Alinha 3 para vencer.</p>
    </a>

    <a class="menu-card" href="puzzle-paw-patrol">
        <img class="menu-card-image" src="images/pawpatrol/patrulla-canina.jpg" alt="Paw Patrol" />
        <h2>Puzzle Patrulha Pata</h2>
        <p>Mexe as pecas para reconstruir a imagem.</p>
    </a>

    <a class="menu-card" href="puzzle-gabby">
        <img class="menu-card-image" src="images/gabby/gabbypuzzle.jpg" alt="Puzzle Gabby" />
        <h2>Puzzle Gabby,Casa das Bonecas</h2>
        <p>Mexe as pecas para reconstruir a imagem da Gabby.</p>
    </a>

    <a class="menu-card" href="jogo-da-estatua">
        <img class="menu-card-image" src="images/jogodaestatua/estatua.png" alt="Jogo da Estatua" />
        <h2>Jogo da Estatua</h2>
        <p>Danca com a musica e para quando disser Estatua.</p>
    </a>

    <a class="menu-card" href="super-mario">
        <img class="menu-card-image" src="images/supermario/mariohome.png" alt="Super Mario" />
        <h2>Super Mario</h2>
        <p>Corre, salta, apanha moedas e chega a bandeira.</p>
    </a>

    <a class="menu-card" href="moldura-foto">
        <img class="menu-card-image" src="images/camera/camerahome.png" alt="Fotografias" />
        <h2>Fotografias</h2>
        <p>Abre a camera e tira fotos divertidas com molduras.</p>
    </a>
</section>


